
.tokens-hidden{
  visibility: hidden;
  border: 4px solid black
}

input {
  font-weight: 900;
}

.token{
  text-align: center;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 50%;
  height: 65px;
  width: 65px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 24px;

}

.token:hover {  
  transform: translateY(4px);
}

.token:active {
  transform: translateY(10px);
}

.totalBet {
  font-family: 'ZCOOL XiaoWei', serif;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	font-size: 32px

}

.bankroll {
  font-family: 'ZCOOL XiaoWei', serif;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	font-size: 32px
}

.bankroll h2 {
  display: inline !important;
  margin-right: 30px;
  margin-left: 30px;
}



#five{
  background-color: rgb(165, 28, 28);
  color: white;
  border: 5.5px white solid;
}

#twenty-five {
  background-color: purple;
  color: white;
  border: 5.5px white solid;
}

#one-hundred {
  background-color: blue;
  color: orange;
  border: 5.5px orange solid;
}

#five-hundred {
  background-color: goldenrod;
  border: 5.5px black solid;
}

#max {
  background-color: cyan;
  border-radius: 20%;
  margin-left: 50px;
  width: 72px;
}

#clear {
  background-color: rgb(161, 83, 172);
  border-radius: 20%;
  width: 72px;
}