.DP-JM {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 15px;
  border: black 1.5px solid;
}

.DP-JL {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  position: relative;
  object-fit: cover;
  margin-right: 45px;
  border: black 1.5px solid;

}

.container {
  margin-top: 20px;
}

/* .DP:hover {
  transform: scale(1.05) translateY(-.5rem);
  box-shadow: 0 2.5rem 4rem rgba(black, .9);
  z-index: 20;
} */

.name {
  font-size: 36px;
  color: black;
  margin-bottom: 30px;
}

