#player {
 display: flex; 
 flex-direction: row-reverse;
 justify-content: space-evenly;
}

.stats{
  background-color: #0c691e;
  background-image: url("https://www.transparenttextures.com/patterns/black-felt.png");
  color:white;
  left: -50px;
  font-size: 1.2em;
  border-radius: 40px;
}

section {
  color: whitesmoke;
  height: 520px;
}

#player {
  height: 245px;
}

#dealer {
  height: 210px;
  margin-bottom: 21px;
}

#bj {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-weight: 600;
  font-size: 40px !important;
}

#switch {
  font-family: 'Leckerli One', cursive;
  color: rgb(161, 83, 172);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-weight: 600;
  font-size: 40px !important;
}

#stats {
  position: absolute;
  text-align: left;
  margin-left: 52px;
  font-size: 21px;
  border: 1px whitesmoke solid;
  padding: 14px;
}